[submodule "craft"]
    path = craft
    url = https://github.com/cmollekopf/craft
[submodule "blueprints"]
    path = etc/blueprints/locations/craft-blueprints-kde
    url = https://github.com/cmollekopf/craft-blueprints-kde
